<!DOCTYPE html>
<html data-ng-app="testApp">
<head>
  <title>AngularTestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container" data-ui-view></div>
</body>
</html>
